DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=growthlink
DB_USER=root
DB_PASSWORD=
APP_BASE=/wpi2

META_ACCESS_TOKEN=
META_APP_ID=27992473867068035
META_APP_SECRET=
META_CONFIG_ID=1386950873032188
META_VERIFY_TOKEN=webhook_token
